@import '../../stylevariables.scss';

/* Login Styles */

.login-container {
    width: 500px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 100px;
    background-color: $blue3;
    
    .login-inner-container {
        background-color: $offwhite;

        h3 {
            padding-top: 20px;
        }

        .login-form {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;

            input {
                margin-top: 10px;
                padding: 7.5px;
            }

            button {
                margin-top: 10px;
                width: 150px;
                height: 30px;
                margin-bottom: 30px;
            }
        }
    }
}

/* Register Styles */

.register-container {
    width: 500px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 100px;
    background-color: $blue3;

    .register-inner-container {
        background-color: $offwhite;

        h3 {
            padding-top: 20px;
        }
        .register-form {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            input {
                margin-top: 10px;
                padding: 7.5px;
            }
            button {
                margin-top: 10px;
                width: 150px;
                height: 30px;
                margin-bottom: 30px;
            }
        }
    }
}

//Logout bar styles


.logoutbar {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    .logout-btn {
        width: 100px;
    }
}