@import '../../stylevariables.scss';


//Tabs page styling
.tabs-wrapper {
    width: 100%;
    margin-top: 15px;

    .tab-header {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        height: 50px;
        margin-bottom: 25px;
        
        .newtab-btn {
            width: 200px;
            height: 50px;
            margin: 0 auto;
            border-radius: 5px;
            background-color: $blue4;
            border: none;
            color: white;

            &:hover {
                background-color: white;
                color: $blue4;
                border: 1px solid $blue4;
            }
        }
    }

    .tabs-container {
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-content: center;
    }
}


//tab styling

.tab-wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1.5px solid $blue1;
    width: 500px;
    height: 100%;
    border-radius: 5px;
    .tab {
        .tab-head {
            padding-top: 5px;
            padding-left: 10px;
            padding-right: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            img {
                justify-self: flex-start;
            }
            h3 {
                font-family: $lato;
                font-weight: 590;
            }
            button {
                border-radius: 10px;
                background-color: $blue2;
                color: $offwhite;
                justify-self: flex-end;
                &:hover {
                    color: $blue2;
                    background-color: $offwhite;
                }
            }
        }
        .tab-body {
            width: 100%;
            border-top: 2px dashed $blue3;
            border-bottom: 2px dashed $blue3;
            margin-top: 10px;
            padding-top: 10px;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            background-color: $blue1;

            h5 {
                color: white;
                padding-left: 10px;
                font-size: 18px;
                margin-right: 20px;
            }

            a {
                padding-bottom: 5px;
                font-size: 20px;
                padding-right: 10px;
                color: white;
                text-decoration: none;
                &:hover {
                    cursor: pointer;
                }
            }
        }

        .tab-end {
            padding: 10px;
            font-family: $roboto;
        }
    }
}

// Modal styles

.modal-open {    
    .modal-content {
        .modal-header {
            display: flex;
            justify-content: flex-start;
            font-family: $lato;
            .del-btn {
                width: 100px;
                font-size: 18px;
                margin-left: 240px;
                border: 2px solid $blue4;
                background-color: $blue2;
                color: $offwhite;
                height: 30px;

                &:hover {
                    background-color: $offwhite;
                    color: $blue4;
                    border: 2px solid $blue2;
                }
            }
        }
        .modal-body {
            font-family: $roboto;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            flex-direction: column;
            align-items: center;
             p {
                 font-size: 18px;
                 margin-top: 5px;
                 margin-bottom: 5px;
             }
            .title-wrap {
                display: flex;
                flex-direction: column;
                justify-content: center;
                .title-input {
                    padding: 5px;
                }
            }
            .web-wrap {
                display: flex;
                flex-direction: column;
                justify-content: center;
                .website-input {
                    padding: 5px;
                }
            }
            .cat-wrap {
                display: flex;
                flex-direction: column;
                justify-content: center;
                .category-input {
                    padding: 5px;
                }
            }
            .desc-wrap {
                display: flex;
                flex-direction: column;
                justify-content: center;
                .description-input {
                    margin: 0;
                    padding: 5px;
                    height: 100px;
                }
            }
            button {
                margin-left: 40px;
                width: 185px;
                height: 50px; 
                margin-top: 30px;
                border-radius: 5px;
                background-color: $blue4;
                border: none;
                color: white;
                &:hover {
                    background-color: white;
                    color: $blue4;
                    border: 1px solid $blue4;
                }
            }
        }

        //for the edit modal specifically. The form wrap messes with the width
        // a bit, so this is a necessary change.
        .tab-form {
            .modal-body {
                .title-wrap {
                    width: 55%;
                }
                .web-wrap {
                    width: 55%;
                }
                .cat-wrap {
                    width: 55%;
                }
                .desc-wrap {
                    width: 55%;
                }
            }
        }
        .modal-footer {
            display: flex;
            justify-content: center;
            .submit-btn {
                width: 185px;
                height: 50px;
                border-radius: 5px;
                background-color: $blue4;
                border: none;
                color: white;
    
                &:hover {
                    background-color: white;
                    color: $blue4;
                    border: 1px solid $blue4;
                }
            }
        }
    }
}

